/* Global style for all pages */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --link-color: rgb(96 165 250);
    --card-bg: rgba(0, 0, 0, .2);
    --button-color: rgb(22 163 74);
    --p-color: rgb(219, 219, 219);
}

html {
    height: 100vh;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    overflow: hidden;
}

body {
    /* background: linear-gradient(135deg, #0f172a, #1e293b); */
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(243 244 246);
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}

h1,
h2,
h3 {
    font-weight: 800;
}

hr {
    width: 120px;
    height: 9px;
    margin: 24px 0;
    background-color: hsla(0, 0%, 100%, .85);
    align-self: self-start;
}

p {
    line-height: 23px;
    color: var(--p-color);
}


/* Normal links, inline */
a {
    color: var(--link-color);
    font-weight: 900;
    position: relative;
    text-decoration: none;
}


a::before {
    content: "";
    display: block;
    position: absolute;
    height: 1.7px;
    background-color: var(--link-color);
    top: 100%;
    left: 0;
    width: 0;
    transition: width .5s;
}

a:hover::before,
a.active::before {
    width: 100%;
}

.center {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 60px;
    height: fit-content;
    overflow: visible;
}

.center-container {
    max-width: 1200px;
    padding: 20px 30px;
}

.header-home {
    margin: 0;
}

.text-logo {
    display: flex;
}

.text-logo p {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    max-width: 450px;
    margin-top: 30px;
}

.text-logo img {
    margin-top: -37px;
}

.link-active {
    background-color: rgb(22 163 74);
}



/* MENU */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: transparent;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.menu-logo {
    width: 70px;
    color: rgb(96, 165, 250);
}

.menu {
    display: flex;
    gap: 2rem;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.3s;
    position: relative;
}

.menu a::before {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: rgb(96, 165, 250);
    transition: width 0.3s;
    position: absolute;
    bottom: -4px;
    left: 0;
}

.menu a:hover,
a.active {
    color: rgb(96, 165, 250);
}

.menu a:hover::before {
    width: 100%;
}


::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
    opacity: 0;
}

::-webkit-scrollbar-thumb {
    background-color: royalblue;
    border-radius: 20px;
}


/* Animações */
.showOnLoad {
    animation: showOnStart .5s ease-in-out forwards;
}

@keyframes showOnStart {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transform: none;
        opacity: 1;
    }
}



@media screen and (max-width: 500px) {

    .text-logo img,
    .menu-logo {
        display: none;
    }
}

@media screen and (max-width: 340px) {
body {
    overflow-x: scroll;
}
}